<ion-header>
  <ion-toolbar>
    <ion-title>Italy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <br>
    <br>
       <div>
        
        <h1 align="center">
            <img src="./assets/images/sim1.gif"/><br>
          Lasagna</h1>
        <br>
        <iframe  width="400" height="340"  
        src="https://www.youtube.com/embed/PrxQ0F8WANI" 
        frameborder="0" allow="accelerometer; autoplay; encrypted-media;
         gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p> Serves 3, Time 15-20 minutes</p>
        <ion-list>
            <ion-list-header align="center">
                <ion-label>Ingredients 2 lbs. Lasagna</ion-label>
              </ion-list-header>
            <ion-item>1 lbs. lasagna pasta</ion-item>
            <ion-item>4 cloves of garlic, thinly chopped</ion-item>
            <ion-item>2 handfuls of shredded mozzarella</ion-item>
            <ion-item>4 Eggs</ion-item>
            <ion-item>30 oz. ricotta cheese (whole milk)</ion-item>
              <ion-item>1 Tbsp. of pesto</ion-item>
              <ion-item>black pepper for seasoning</ion-item>
              <ion-item>White Wine</ion-item>
            </ion-list>
    <h3>Step by Step</h3>
    <ol type="1">
        <li>Please click on the link below for the full recipe)</li>
       <a href="http://orsararecipes.net/best-lasagna-recipe">Follow this link for full recipe..</a>
       </ol>

       <p>Click on the link to call for a burger: <a href="tel:7188558206">Not Rays Pizza 694 Fulton Street</a></p>
          </div>
  

 <ion-button color="light" [routerLink]="['/tabs/tab1']">Home</ion-button>
 <ion-button color="light" [routerLink]="['/tabs/tab2']">Countries</ion-button> 

</ion-content>
