<ion-header>
  <ion-toolbar>
    <ion-title>USA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <br>

    <div id="Apple">

        <h1 align="center">Apple Pie</h1>
        <br>
        <iframe align="center" width="400" height="340" 
        src="https://www.youtube.com/embed/dkJzaTedTk8" 
        frameborder="0" allow="accelerometer; autoplay; 
        encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        <p> Serves 12, Time 30-40 minutes</p>
        <ion-list>
            <ion-list-header align="center">
                <ion-label>Ingredients</ion-label>
              </ion-list-header>
            <ion-item>4 apples </ion-item>
            <ion-item>1 lemon, juiced</ion-item>
            <ion-item>½ cup  granulated sugar</ion-item>
            <ion-item>½ cup  brown sugar</ion-item>
            <ion-item>¼ teaspoon  cinnamon</ion-item>
            <ion-item>¼ teaspoon  nutmeg</ion-item>
              <ion-item>1 prepared pie dough</ion-item>
              <ion-item>¼ cup  heavy cream</ion-item>
            </ion-list>
    <h3>Step by Step</h3>
    <ol type="1">
      <li>Please click on the link below for the full recipe or enjoy the video</li>
       <a href="https://tasty.co/recipe/caramel-rose-apple-pie">
        Follow this link for full recipe..</a>
       </ol>

       
          </div>
    <br>
    <br>
    <br>

    <div>
        <hr class="horizontal">
        
        <h1 align="center">Burger</h1>
        <br>
        <iframe  width="400" height="340"  
        src="https://www.youtube.com/embed/Rzd0mLf366I" 
        frameborder="0" allow="accelerometer; autoplay; 
        encrypted-media; gyroscope; picture-in-picture"
         allowfullscreen></iframe>
          <p> Serves 1, Time 15-20 minutes</p>
        <ion-list>
            <ion-list-header align="center">
                <ion-label>Ingredients</ion-label>
              </ion-list-header>
            <ion-item>Beef: short rib, brisket, and sirloin</ion-item>
            <ion-item>Burger buns</ion-item>
            <ion-item>Vegetable oil</ion-item>
            <ion-item>Garlic powder</ion-item>
            <ion-item>Salt and pepper</ion-item>
              <ion-item>Russet potatoes</ion-item>
              <ion-item>American cheese</ion-item>
            </ion-list>
    <h3>Step by Step</h3>
    <ol type="1">
      <li>Start by removing bones and silver skin from your brisket, 
        sirloin, and short rib. Slice meat into one 
        inch strips and then cut crosswise into 1-2 inch chunks.</li>
        <li>Place all the meat on a parchment lined baking sheet 
          and put in the freezer and freeze for 15-20 minutes.</li>
        <li> While meat is freezing, prepare all of your toppings. Slice your tomatoes and onions, and chop up your lettuce. You can put any toppings you want, because it’s your burger!</li>
       <li>Butter your buns and place them on a hot skillet to toast your buns. Remove them from skillet when golden brown and set aside.</li>
       <li>For more instructions follow the link below. </li>
       <a href="https://basicswithbabish.co/basicsepisodes/burgers">Follow this link for full recipe..</a>
       </ol>

<p>Click on the link to call for a burger: <a href="tel:7183077599">Shake Shack 409 Fulton Street</a></p>


          </div>


 <ion-button [routerLink]="['/tabs/tab1']">Home</ion-button>
 <ion-button [routerLink]="['/tabs/tab2']">Countries</ion-button> 

</ion-content>
