<ion-header>
  <ion-toolbar>
    <ion-title>India</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <br>
    <br>

    <div id="Butter Chicken">
        
        <h1 align="center">Butter Chicken</h1>
        <br>
        <iframe align="center" width="400" height="340" 
        src="https://www.youtube.com/embed/VHfhCXkJh34" 
        frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
        <p>Can serve 4-5 individuals.</p>
        <ion-list>
            <ion-list-header align="center">
                <ion-label>Ingredients for Chicken</ion-label>
              </ion-list-header>
            <ion-item>300 gms Chicken breast boneless</ion-item>
            <ion-item>1 tbsp Ginger garlic paste</ion-item>
            <ion-item>1 tbsp Red chilli powder</ion-item>
            <ion-item>Salt to taste</ion-item>
            <ion-item>Oil to pan fry</ion-item>
          </ion-list>
          <br>
          <br>
          <ion-list>
              <ion-list-header align="center">
                  <ion-label>Ingredients for Sauce</ion-label>
                </ion-list-header>
              <ion-item>500 gms  roughly slit tomatoes</ion-item>
              <ion-item>100 gms roughly cut onions</ion-item>
              <ion-item>50 gms cashew</ion-item>
              <ion-item>1 tsp kasoori methi</ion-item>
              <ion-item>1/2 tsp garam masala</ion-item>
              <ion-item>4 tbsp sugar</ion-item>
              <ion-item>2 tbsp kashmiri chilli powder</ion-item>
              <ion-item>5 tbsp butter</ion-item>
              <ion-item>3 tbsp cream</ion-item>
              <ion-item>2 tbsp malt vinegar / 1.5 tbsp White Vinegar</ion-item>
            </ion-list>
    <h3>Step by Step</h3>
    <ol type="1">
      <li>Marinate the chicken with  ginger paste, garlic paste, red chilli powder and salt and keep it aside for 15 to 20 minutes</li>
        <li> In a pan heat some oil then fry the marinated chicken pieces in it,once done place it into a bowl.</li>
        <li> In the same pan add onion, oil, spoonful of butter and once the onions are cooked add tomatoes and cashew nuts</li>
       <li> Add some water and garlic paste, salt, malt vinegar, sugar, garam masala powder and chilli powder. Evenly mix it and let it simmer for 15-20 minutes</li>
       <li> Churn the mixture into fine puree.</li>
       <li> Strain it back into the same pan make sure there is minimal wastage.</li>
       <li> Add butter, cream, chicken and kasoori meethi and let it simmer for 5-7 minutes.</li>
       <li> Garnish it with cream and kasoori meethi</li> 
       </ol>
 </div>
<br>
<br>
<br>
<br>
<br>
<br>

 <ion-button color="Warning" [routerLink]="['/tabs/tab1']">Home</ion-button>
 <ion-button color="Warning" [routerLink]="['/tabs/tab2']">Countries</ion-button> 

</ion-content>
