<ion-header>
  <ion-toolbar>
    <ion-title>
    Countries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <br>
    <br>
    <br>
    <ion-item>
        <ion-avatar slot="start">
          <img src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/256/Flag_of_United_States.png">
        </ion-avatar>
        <ion-label (click)="Clicker()" [routerLink]="['/usa']" >USA</ion-label>
      </ion-item>
      <ion-item>
          <ion-avatar slot="start">
            <img src="./assets/images/bel.png">
          </ion-avatar>
          <ion-label (click)="Clicker()" [routerLink]="['/belgium']">Belgium</ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/images/switz.png">
            </ion-avatar>
            <ion-label (click)="Clicker()" [routerLink]="['/switzerland']" >Switzerland</ion-label>
          </ion-item>
          <ion-item>
              <ion-avatar slot="start">
                <img src="./assets/images/italy.png">
              </ion-avatar>
              <ion-label (click)="Clicker()" [routerLink]="['/italy']" >Italy</ion-label>
            </ion-item>
            <ion-item>
                <ion-avatar slot="start">
                  <img src="https://www.freeiconspng.com/uploads/france-flags-icon-png-14.png">
                </ion-avatar>
                <ion-label (click)="Clicker()" [routerLink]="['/france']">France</ion-label>
              </ion-item>
              <ion-item>
                  <ion-avatar slot="start">
                    <img src="https://cdn.countryflags.com/thumbs/india/flag-3d-round-250.png">
                  </ion-avatar>
                  <ion-label (click)="Clicker()" [routerLink]="['/india']">India</ion-label>
                </ion-item>
  <br>
  <br>
  <br>
  <br>






</ion-content>
