<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <img class="center" src="https://media.licdn.com/dms/image/C4E03AQE3_e__wqfN5w/profile-displayphoto-shrink_200_200/0?e=1563408000&v=beta&t=MxvC4VfjN28agR_WGFQ1hRDcmjhBxpNHhIpkBqyRftw"/>
<br>
<br>
<br>
<br>
<br>

    
    <p>
      This is my recipe app, my idea came from 
      discussing with my friends on an idea and what may be useful to have at times
      as most recipe apps I have seen only show whats near you
      not everywhere. I am a CS Major and a programmer specifically in JavaScript, C++ and SQL. 
      Thank You for the visit. Please 
        look through my app to see the different types of recipes all over the globe.
        Send an <a href="mailto:janiellevazquez@gmail.com?Subject=Recipe%20App">email</a> to me on what recipes you would like to see.
      </p>
      
      <p>- Janielle Vazquez</p>
  <br>
<br>
<br>






</ion-content>
