<ion-header>
  <ion-toolbar>
    <ion-title>Switzerland</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <br>

    <div id="Oatmeal">

        <h1 align="center">Swiss Oatmeal (Muesli)</h1>
        <br>
        <iframe align="center" width="420" height="340" 
        src="https://www.youtube.com/embed/OBaTCVPf2t8" 
        frameborder="0" allow="accelerometer; autoplay; 
        encrypted-media; gyroscope; picture-in-picture"
         allowfullscreen></iframe>
        <p> Serves 1, Time 2 minutes</p>
        <ion-list>
            <ion-list-header align="center">
                <ion-label>Ingredients</ion-label>
              </ion-list-header>
            <ion-item>3/4 cup rolled oats </ion-item>
            <ion-item>3/4 cup milk</ion-item>
            <ion-item>3/4 cup plain yogurt</ion-item>
            <ion-item>1 cup mixed fruits</ion-item>
            <ion-item>top with crushed (or sliced) almonds</ion-item>
            </ion-list>
    <h3>Step by Step</h3>
    <ol type="1">
      <li>Please click on the link below for the full recipe or enjoy the video</li>
       <a href="https://www.eatingbirdfood.com/quick-healthy-breakfast-chilled-swiss-oatmeal/">
        Follow this link for full recipe..</a>
       </ol>
          </div>
    <br>
    <br>

    <div id="Fondue">

        <h1 align="center">Cheese Fondue</h1>
        <br>
        <iframe align="center" width="400" height="340" 
        src="https://www.youtube.com/embed/uAeWved2yKM" 
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        <p> Serves 5, Time 20 minutes</p>
        <ion-list>
            <ion-list-header align="center">
                <ion-label>Ingredients</ion-label>
              </ion-list-header>
            <ion-item>1 cup dry white wine</ion-item>
            <ion-item>1/2 pound shredded Swiss cheese</ion-item>
            <ion-item>1/2 pound shredded Gruyere cheese</ion-item>
            <ion-item>2 tablespoons all-purpose flour</ion-item>
            <ion-item>1/4 teaspoon salt</ion-item>
            <ion-item>¼ teaspoon  nutmeg</ion-item>
              <ion-item>1/4 teaspoon ground nutmeg</ion-item>
              <ion-item>1 (1 pound) loaf French bread, cut into 1 inch cubes</ion-item>
            </ion-list>
    <h3>Step by Step</h3>
    <ol type="1">
      <li>Simmer wine in fondue pot. Add Swiss cheese, Gruyere cheese, 1/4 pound at a time. 
        Stir after each addition of cheese until melted. Stir in flour. 
        When all the cheese has melted, stir in salt and nutmeg. Serve with cut-up French bread.</li>
      <li>Please click on the link below for the full recipe or enjoy the video</li>
       <a href="https://www.allrecipes.com/recipe/13714/cheese-fondue/">
        Follow this link for full recipe..</a>
       </ol>
          </div>
    <br>
    <br>

     <ion-button color="light" [routerLink]="['/tabs/tab1']">Home</ion-button>
     <ion-button color="light" [routerLink]="['/tabs/tab2']">Countries</ion-button> 
</ion-content>
