<ion-header>
  <ion-toolbar>
    <ion-title>Belgium</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <br>
    <br>

    <div id="Apple">
        <h1 align="center"> Belgian Waffles</h1>
        <br> 
        <iframe width="743" height="418" 
        src="https://www.youtube.com/embed/27mUWs2wjPs"
         frameborder="0" allow="accelerometer; autoplay;
          encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        <p> Serves 3, Time 30 minutes</p>
        <ion-list>
            <ion-list-header align="center">
                <ion-label>Ingredients</ion-label>
              </ion-list-header>
            <ion-item>2 cups all-purpose flour</ion-item>
            <ion-item>3/4 cup sugar</ion-item>
            <ion-item>3-1/2 teaspoons baking powder</ion-item>
            <ion-item>2 large eggs, separatedr</ion-item>
            <ion-item>1-1/2 cups whole milk</ion-item>
            <ion-item> 1 cup butter, melted</ion-item>
              <ion-item>1 teaspoon vanilla extract</ion-item>
              <ion-item>Sliced fresh strawberries or syrup</ion-item>
            </ion-list>
    <h3>Step by Step</h3>
    <ol type="1">
      <li>Please click on the link below for the full recipe or enjoy the video</li>
       <a href="https://www.tasteofhome.com/recipes/true-belgian-waffles/">
        Follow this link for full recipe..</a>
       </ol>
          </div>
    <br>
    <br>


    <div id="Endive">
        <hr class="horizontal">
        <h1 align="center">Endive</h1>
        <br> 
        <iframe width="743" height="418"         
        src="https://www.youtube.com/embed/kEKk8cWFKmg" 
        frameborder="0" allow="accelerometer; autoplay; 
        encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        <p> Serves 3, Time 30 minutes</p>
        <ion-list>
            <ion-list-header align="center">
                <ion-label>Ingredients</ion-label>
              </ion-list-header>
            <ion-item>8 heads Belgian endive, trimmed</ion-item>
            <ion-item>2 tablespoons butter</ion-item>
            <ion-item>2 tablespoons all-purpose flour</ion-item>
            <ion-item>1 cup milk</ion-item>
            <ion-item>1 cup grated Gruyere cheese, divided</ion-item>
            <ion-item> 2 teaspoons grated Parmesan cheese</ion-item>
            </ion-list>
    <h3>Step by Step</h3>
    <ol type="1">
      <li>Please click on the link below for the full recipe or enjoy the video</li>
       <a href="https://www.allrecipes.com/recipe/149844/belgian-endive-au-gratin/">
        Follow this link for full recipe..</a>
       </ol>
          </div>
    <br>
    <br>
    <br>


 <ion-button [routerLink]="['/tabs/tab1']">Home</ion-button>
 <ion-button [routerLink]="['/tabs/tab2']">Countries</ion-button> 

</ion-content>
